.root {
  display: grid;
  justify-content: var(--justifyContent, var(--inline, normal));
  align-items: var(--alignItems, start);

  &.horizontal {
    grid-auto-flow: column;
    grid-column-gap: var(--spacing, 0);
  }

  &.vertical {
    grid-auto-flow: row;
    grid-row-gap: var(--spacing, 0);
  }
}
